<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Solicita</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/signup">Signup</a>
            <a class="nav-item nav-link" href="/login">Login</a>
        </div>
    </div>
</nav>

<section>
    <h1 class="display-4">Organize o seu trabalho</h1>
    <p class="content-text">Crie e gerencie as suas tarefas</p>
</section>