<h1> Seja bem vindo {{this.username}}</h1>

<div class="form-style-8">
  <h2>Nova tarefa</h2>
  <form action="/perfil" method="POST">
    <input type="hidden" name="_id" value="{{_id}}">
    <input type="text" name='title' placeholder='Digite o titulo' />
    <input type="text" name='description' placeholder="Digite a descricao da tarefa" />
    <button type="submit">Criar</button>
  </form>
</div>